/* SignUp.css */

.signup-container {
    position: relative;
    width: 100%;
    height: 100vh;
    /* background-image: url('D:\OTH\oth\src\img6-removebg.png');  */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    /* padding-right: 20%; */
    margin-top: -18vh;
    overflow: hidden;
  }
  
  /* .signup-title {
    font-size: 2vw; 
    margin-bottom: 20px;
    color: #e88d0c; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  } */
  
  .signup-form {
    z-index: 1;
    font-weight: bold;
    text-align: center;
    margin-right: 20%;
    margin-top: 25vh;
    /* background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    max-width: 400px;
    width: 80%;  */
  }
  
  .input-group {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input-group label {
    font-style: italic;
    margin-bottom: 8px;
    color: #989595;
    text-align: center; /* Align text center */
    width: 100%;
  }
  
  .input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #e88d0c; /* Golden yellow color */
    border-radius: 20px;
    font-size: 1.0vw; 
    background-color: rgba(0, 0, 0, 0.3);
  }

  .input-group input:hover,
  .input-group input:focus {
    background-color: #a09d9d; /* Change background color on hover, focus, or when input has a value */
  }

  

  .input-group input:valid {
    background-color: #a09d9d; /* Change background color when input is valid (has a value) */
  }
  
  .signup-form button[type="submit"] {
    width: 50%;
    text-align: center;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #000000, #525050); 
    color: #fff;
    font-size: 1.0vw; 
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signup-form button[type="submit"]:hover {
    background: linear-gradient(to right, #FF6347, #FFA07A); /* Updated gradient color */
  }

  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0; /* Remove any margins */
    padding: 0;
    background-color: #000; /* Set background color to black */
    z-index: -1;
  }
  
  .star {
    position: absolute;
    width: 0.2vw; /* Adjust size of stars using vw for responsiveness */
    height: 0.2vw; /* Adjust size of stars using vw for responsiveness */
    background-color: #fff; /* Set color of stars to white */
    border-radius: 50%; /* Make stars round */
    animation: twinkling 3s infinite; /* Apply animation to stars */
  }

  @keyframes twinkling {
    0% {
      opacity: 0; /* Initially set stars to invisible */
    }
    50% {
      opacity: 1; /* Set stars to visible */
    }
    100% {
      opacity: 0; /* Set stars to invisible */
    }
  }
  
  .signup-sun {
    position: absolute;
    top: 28%;
    left: 5%; /* Adjust position of sun to the left */
    width: 40vw; /* Adjust size of sun using vw for responsiveness */
    height: 40vw; /* Adjust size of sun using vw for responsiveness */
    border-radius: 50%; /* Make sun round */
    background: radial-gradient(
        ellipse farthest-corner at 20% 30%,
        rgba(255, 255, 255, 0.8) 10%,
        rgba(255, 255, 255, 0) 70%
      ),
      radial-gradient(
        ellipse farthest-corner at 20% 30%,
        rgba(255, 255, 255, 0.4) 10%,
        rgba(255, 255, 255, 0) 70%
      ),
      radial-gradient(
        ellipse farthest-corner at 20% 30%,
        rgba(255, 255, 255, 0.3) 10%,
        rgba(255, 255, 255, 0) 70%
      ),
      radial-gradient(
        ellipse farthest-corner at 20% 30%,
        rgba(255, 255, 255, 0.2) 10%,
        rgba(255, 255, 255, 0) 70%
      ),
      radial-gradient(
        ellipse farthest-corner at 20% 30%,
        rgba(255, 255, 255, 0.1) 10%,
        rgba(255, 255, 255, 0) 70%
      ),
      radial-gradient(
        ellipse farthest-corner at 20% 30%,
        rgba(255, 255, 255, 0.05) 10%,
        rgba(255, 255, 255, 0) 70%
      ),
      radial-gradient(
        ellipse farthest-corner at 20% 30%,
        rgba(255, 255, 255, 0.025) 10%,
        rgba(255, 255, 255, 0) 70%
      ),
      radial-gradient(
        ellipse farthest-corner at 20% 30%,
        rgba(255, 255, 255, 0.0125) 10%,
        rgba(255, 255, 255, 0) 70%
      ); /* Add radial gradient for 3D effect */
    animation: rotateSun 10s linear infinite; /* Rotate sun */
  }

  @keyframes rotateSun {
    100% {
        transform: rotate(360deg);
    }
}