

.home {
  display: flex;
}

.counter {
  position: fixed;
  top: 50%;
  left: 20px; /* Adjust as needed */
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 5px;
}
