
body {
    background-image: url("../Images/space6.jpg");
  }




.r{
    font-size: 5em;
   text-decoration: underline;
    text-align: center;
    color: goldenrod;
}
.u{
    color: rgb(49, 179, 179);
    font-size: 2em;
}